:root {
    --white: hsl(0, 0%, 100%);
    --text: hsl(228, 12%, 48%);
    --pale: hsl(32, 37%, 92%);
    --brown: hsl(21, 27%, 45%);
    
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--pale);
}

#header-img {
    width: 60px;
    object-fit: contain;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    padding: 0 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.the-product {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#email-section {
    margin-top: 100px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--brown);
}

#submit {
    background-color: var(--brown);
    color: var(--white);
    cursor: pointer;
}

section::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

section {
    margin: 40px 20px;
    text-align: center;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
}

.icon {
    color: var(--brown);
    margin-right: 30px;
}

#features {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.feature h2 {
    width: 200px;
}

.feature p {
    margin-left: 20px;
}

#video {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.card .cake {
    margin: 50px;
    width: auto;
    max-width: fit-content;
    background-color: var(--white);
}

.cake1, .cake2, .cake3 {
    font-size: 25px;
}

.cake img {
    margin: 30px 30px 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    vertical-align: top;
}

.cake ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: var(--text);
}

.price {
    margin: auto;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.order-now {
    display: block;
    text-align: center;
    padding: 10px 40px;
    margin: auto;
    background-color: var(--brown);
    color: #F8F4E3;
    text-decoration: none;
    border: 5px solid var(--brown);
    cursor: pointer;
    margin-bottom: 20px;
}

.order-now:hover {
    color: #efefef;
    background-color: #815036;
    border-color: #815036;
}


@media only screen and (min-width: 600px) {
    #nav-bar {
        flex-direction: row;
    }
}

@media only screen and (450px < width < 600px) {
   .card {
        font-size: .85rem;
   }
   .product-image {
        height: 400px;
   }
}